.housecardstyle {
    display: flex;
    margin-bottom: 10%;
    margin-left: 15%;
    margin-top: 10%;
  }
  .card {
    margin-left: 20px;
    max-width: 20%;
    border: 0;
  }
  
  h5 {
    /* color: rgb(3, 3, 100); */
    color: #0e4870;
    font-family: "VALORANT", sans-serif;
    font-size: 2rem;
  }
  .more-info {
    display: none;
    transition: all ease 0.5s;
  }
  a:hover .more-info {
    display: block;
    transition: all ease 0.5s;
  }
  @media (max-width: 500px) {
    .housecardstyle {
      display: block;
      margin-bottom: 10%;
      margin-left: 1%;
      margin-top: 10%;
    }
    .card {
      margin-left: auto;
      max-width: 100%;
    }
  }