.card{

    border-radius:15rem;
    margin-left: 3rem;
    margin-bottom: 3rem;
    /*border:solid blue 2rem;*/

}
.card p{
    font-family: 'valorant';
    font:#0E4870;
}

.card-text p
{
    font-family: 'valorant';
    font:#0E4870;
}
.imgss{
    width:17.5rem;
    height: 12.0rem;

}